<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @articulo.nombre %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @articulo.detalle %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @articulo.precio %>
</p>

<%= link_to 'Edit', edit_articulo_path(@articulo) %> |
<%= link_to 'Back', articulos_path %>
