<p id="notice"><%= notice %></p>

<h1>Mensajes</h1>

<table>
  <thead>
    <tr>
      <th>Mensajes</th>
      <th>Usuario</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @mensajes.each do |mensaje| %>
      <tr>
        <td><%= mensaje.content %></td>

        <td>
          <% @usuarios.each do |usuario| %>
            <% if usuario.id == mensaje.usuario_id %>
              <%= usuario.nombre %>
            <% end %>
          <% end %>
        </td>

        <td><%= link_to 'Mostrar', mensaje %></td>
        <td><%= link_to 'Editar', edit_mensaje_path(mensaje) %></td>
        <td><%= link_to 'Eliminar', mensaje, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Mensaje', new_mensaje_path %>
